// ****************************************************************************
// *                                  colors                                  *
// ****************************************************************************
$blue: hsla(197, 80%, 41%, 1);
$green: hsla(160, 100%, 30%, 1);
$pink: hsla(332, 100%, 60%, 1);
$purple: hsla(287, 100%, 43%, 1);
$amber: hsla(45, 100%, 50%, 1);
$indigo: hsla(239, 53%, 46%, 1);

$teal: #78C2AD;

$imavi-purple: #639;
$imavi-yellow: hsla(48, 100%, 53%, 1);

$stpd-blue: #0e009b;
$stpd-brown: #b1956f;
$stpd-green: #b9c967;
$stpd-red: #e9080f;


